@import "./variables";

.container {
  max-width: 1440px;
  padding: 0px 16px;
  box-sizing: border-box;
  width: 100%;
  margin: 0px auto;

  @media screen and (max-width:1200px) {
    max-width: 1080px;
  }

  @media screen and (max-width:900px) {
    max-width: 800px;
  }
}

.water {
  background-color: #2196f3 !important;
  color: white !important;
}

.grass {
  background-color: #4caf50 !important;
  color: white !important;
}

.poison {
  background-color: #673ab7 !important;
  color: white !important;
}

.fire {
  background-color: #f57c00 !important;
  color: #000 !important;
}

.flying {
  background-color: #8e24aa !important;
  color: white !important;
}

.bug {
  background-color: #9ccc65 !important;
  color: #000 !important;
}

.electric {
  background-color: #ffeb3b !important;
  color: #000 !important;
}

.ground {
  background-color: #795548 !important;
  color: white !important;
}

.psychic {
  background-color: #d81b60 !important;
  color: white !important;
}

.dragon {
  background-color: #e53935 !important;
  color: white !important;
}

.collapsible-hide {
  overflow: hidden;
  height: 120px;
  transition: height .5s ease;
  position: relative;
}

.collapsible-show {
  height: auto;
  transition: height .5s ease;
  position: relative;
}

.global-loader {
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .24);
  display: grid;
  place-items: center;
  border-radius: 1rem;
}